name: Sync and Run Script
# 触发条件：手动触发+每12小时自动触发
  workflow_dispatch:
  schedule:
    - cron: '0 22,10 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 拉取当前仓库代码
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # 2. 添加上游仓库地址并拉取最新代码
      - name: Add Upstream and Fetch
        run: |
          git remote add upstream https://github.com/Supprise0901/TVBox_live.git
          git fetch upstream
      # 3. 合并上游代码到当前分支
      - name: Merge Upstream Changes
        run: |
          git config --global user.name "1374913826"
          git config --global user.email "1374913826@qq.com"
          git merge upstream/main --no-edit
      # 4. 推送合并后的代码到当前仓库
      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          分支: main
